Arpeggio==1.10.1
attrs==20.3.0
click==7.1.2
cloudevents==1.2.0
deprecation==2.1.0
dill==0.3.3
Flask==1.1.2
functions-framework==2.1.0
grpcio==1.35.0
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
packaging==20.8
parver==0.3.1
protobuf==3.14.0
pulumi==2.18.1
pulumi-gcp==4.8.0
pyparsing==2.4.7
PyYAML==5.4.1
semver==2.13.0
six==1.15.0
watchdog==1.0.2
Werkzeug==1.0.1
